/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2014, 7:38:16 PM
    Author     : dwpyle1
*/

#links{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigationArea li{
    float: left;
}
#navigationArea a{
    color:black;
    padding:5px;
    margin:0px 5px 0px 5px;
    height:100%;
    font-size:35px;
    text-decoration:none;
    
    
}
#navigationArea a:hover{
    color:white;
    padding:5px;
    margin:0px 5px 0px 5px;
    height:100%;
    font-size:35px;
    border-top:4px solid;
    border-bottom:4px solid;
    border-radius: 40px 10px 20px 10px;
    
}
.active a{
    margin:0px 5px 0px 5px;
    height:100%;
    font-size:35px;
    border-bottom:4px solid;
    border-radius: 40px 10px 20px 10px;
}
#logo{
    background-color: #000;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding:5px;
    color:#fff;
    border:1px solid #333333;
    border-radius: 34px 10px;
    width:300px;
    height:70px; 
    margin-left:-50px;
    text-align: center;
    font-size: 45px;
    float:left;
    margin-top:-10px;
}
.footer{
    
}
#navigationArea{
    height: 100%;
    width:80%;
    margin: 0px auto;
    min-width: 500px;
}

#wrapper{
    max-width: 80%;
    min-width: 500px;
    background-color: #00620C;
    margin: 0px auto;
    min-height: 50%;
    position: relative;
    margin-bottom: 20px;
    padding-top: 50px;
    
}
#leftArea{
    background-color: #333333;
    min-height: 100%;
    float: left;
    position: absolute;
    top: 0px;
    width: 200px;
}
#rightArea{
    background-color: #E8B313;
    min-height: 50%;
    margin-left:200px;
    min-width:600px;
    padding:5px;
    padding-bottom: 20px;
}
#header{
    width: 100%;
    height: 50px;
    background-color: #009999;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding:0px;
    margin:0px;
}
#footer{
    width:100%;
    height:20px;
    background-color:#009999;
    position: absolute;
    bottom: 0px;
}
body{
    width: 100%;
    height: 100%;
    padding:0px;   
    text-align: center;
    margin: 0 auto;
}
